<?xml version="1.0" encoding="UTF-8"?>
<settings
        xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>eshop-common</id>
            <username>username</username>
            <password>password</password>
        </server>
        <server>
            <id>eshop-dev</id>
            <username>username</username>
            <password>password</password>
        </server>
        <server>
            <id>eshop-qa</id>
            <username>username</username>
            <password>password</password>
        </server>
        <server>
            <id>eshop-release</id>
            <username>username</username>
            <password>password</password>
        </server>
        <server>
            <id>maven-public</id>
            <username>username</username>
            <password>password</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>common</id>
            <repositories>
                <repository>
                    <id>maven-public</id>
                    <url>https://nexus.yo-digital.com/repository/maven-public</url>
                </repository>
                <repository>
                    <id>eshop-common</id>
                    <name>eshop-common</name>
                    <url>https://nexus.yo-digital.com/repository/eshop-common/parent-pom/${version}</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-public</id>
                    <url>https://nexus.yo-digital.com/repository/maven-public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>


        <profile>
            <id>eshop-dev</id>
            <repositories>
                <repository>
                    <id>eshop-dev</id>
                    <name>eshop-dev</name>
                    <url>https://nexus.yo-digital.com/repository/eshop-dev</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>eshop-qa</id>
            <repositories>
                <repository>
                    <id>eshop-qa</id>
                    <name>eshop-qa</name>
                    <url>https://nexus.yo-digital.com/repository/eshop-qa</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>eshop-release</id>
            <repositories>
                <repository>
                    <id>eshop-release</id>
                    <name>eshop-release</name>
                    <url>https://nexus.yo-digital.com/repository/eshop-release</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>common</activeProfile>
    </activeProfiles>
</settings>
